<h1>Thông tin người dùng</h1>
  <ul>
    <li class="nav-item"; style="list-style-type: none;">
      <%= link_to 'Lịch sử mượn sách', borrow_history_user_path(current_user),  class: 'btn btn-primary' %>
    </li>
  </ul>
